header {
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding-top: 20px;
    text-align: center;
}
header h1{
    margin:1% 0;
    text-align: left;
    padding-left: 5%;
    
}
/* Navigation */
nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 20px;
}
.formation-contenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.formation-details {
    width: 70%;
}

.ecole-logo {
    width: 30%;
    text-align: center;
    margin-top:7%;
}

.rond img{
    border-radius: 50%;
    width:60%;
    margin-top:5%;
}

.ecole-logo img {
    max-width: 100%;
    margin:10% 0;
    text-align: center;
}

h2 {
    color: #333;
    margin: 1% 0;
}
h3{
    margin: 1%;
}
.job div p{
    margin: 1%;
}
.job div ul li, .formation-details li, .competences ul{
    margin: 0.9% 5%;
    list-style-type:disclosure-closed; 
}
p {
    color: #555;
    style;line-height: 1.5;
}

ul,.competences ul li ul {
    list-style-type: none;
    padding-left: 0;
    margin: 1%;
}

/* Style spécifique pour la section "À propos de moi" */

.intro, .experience, .job, .formation, .projet, .competences {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.competences ul li li{
    list-style-type: none;
    
}
.intro p, .experience p, .projet p{
    padding: 0.1%;
    margin-bottom: 20px;
}
/* Style spécifique pour la section "Compétences" */

.competences {
    margin-bottom: 20px;
}
.competences img{
    width-max:100%;
    margin:5% 0;
    width: 100%;
}
.competences h2 {
    color: #333;
    margin-bottom: 10px;
}

.competences ul {
    padding-left: 20px;
}

.competences ul li {
    margin-bottom: 10px;
}

.competences ul li strong {
    color: #333;
}

.competences ul li ul {
    margin-top: 5px;
}

/* Style spécifique pour la section "Contact" */

.contact {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.contact h2 {
    margin-bottom: 10px;
}

.contact ul {
    padding-left: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: #fff;
}

/* Pied de page */
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    text-decoration: none;
    color: #333;
}

footer ul li a:hover {
    color: #ffd700; /* Changement de couleur au survol */
}
/* Style pour les liens dans le menu lorsqu'ils sont survolés */
nav ul li a:hover {
    color: #ffd700; /* Couleur du texte au survol */
    text-decoration: underline; /* Soulignement au survol */
}
.job {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.job-image {
    flex-basis: 30%;
}

.job-image img {
    max-width: 100%;
    border-radius: 50%;
    width:70%;
}

